@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 50px;
}

h1,
h2 {
    text-align: center;
}

h1,
h2,
h4,
h5,
h6 {
    font-family: 'Playfair Display';
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 18px;
}

h5,
h6 {
    font-weight: 900;
}

a {
    color: #424242;
    text-decoration: none;
}

body {
    color: #424242;
}

button {
    background: #E36955;
    border: 0;
    font-family: Poppins;
    font-weight: 500;
    color: white;
    clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav {
    font-family: Poppins;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding: 2rem 5rem;
}

nav img {
    width: 220px;
}
nav ul {
    display: flex;
    align-items: center;
    margin-left: auto;
}

nav ul li a {
    display: flex;
    align-items: center;
    padding: 0 .5rem;
}

nav ul li a img {
    width: 20px;
    height: 15px;
}

.nav-button {
    height: 45px;
    padding: 0 40px 0 30px;
    margin-left: 1rem;
}

header {
    background: #f2f0ec;
    display: flex;
    flex-direction: column;
    padding: 0 5rem;
}

header h1 {
    margin: 5rem 0 4rem 0;
}

header .header-button {
    width: 300px;
    height: 45px;
    padding: 0 15px 0 5px;  
}

section {
    display: flex;
    padding: 3rem 5rem;
    font-family: Poppins;
}

section > div:nth-of-type(1) {
    width: 64.5%;
    position: relative;
}

section > div:first-of-type article {
    position: relative;
    width: 100%;
}

section > div:first-of-type article img {
    width: 100%;
}

section > div:first-of-type article div {
    background: #f1ae44;
    width: 38.04%;
    height: 10px;
    margin-top: -.4rem;
}

section > div:first-of-type article div::after {
    position: absolute;
    content: '38.04%';
    text-align: center;
    color: white;
    background: #f1ae44;
    padding: .2rem .4rem;
    font-size: 14px;
    font-family: Poppins;
    left: 38.04%;
    bottom: 18px;
}

section > div:first-of-type article div::before {
    position: absolute;
    content: '';
    left: 38.04%;
    bottom: 12px;
    border: 6px solid transparent;
    border-left-color: #f1ae44;
}

section > div:first-of-type article a {
    display: inline-block;
    position: absolute;
    content: '';
    background: white;
    padding: .3rem;
    width: 25px;
    height: 25px;
}

section > div:first-of-type article a:nth-of-type(1) {
    right: 1%;
    top: 10px;
}

section > div:first-of-type article a:nth-of-type(2) {
    right: 6.5%;
    top: 10px;
}

section > div:first-of-type article a img {
    width: 100%;
}

section > div:first-of-type h3 {
    font-family: 'Playfair Display';
    font-size: 30.5px;
    padding: 1.3rem 0;
}

section > div:first-of-type p:first-of-type {
    font-weight: 500;
    font-size: 18px;
    color: #818181;
}

section > div:first-of-type p .orange {
    color: #f1ae44;
}

section > div:first-of-type p .red {
    color: #E36955;
}

section > div:first-of-type p:nth-of-type(2) {
    height: 35px;
    display: flex;
    align-items: center;
    margin: 2rem 0;
}

section > div:first-of-type p:nth-of-type(2) span {
    display: inline-block;
    background: #f1ae44;
    border: 1px solid #f1ae44;
    padding: .35rem .8rem;
    font-size: 16px;
    font-weight: 700;
    color: white;
}

section > div:first-of-type p:nth-of-type(2) input {
    width: 100px;
    height: 100%;
    border: 1px solid #cccccc;
    border-left-color: #f1ae44;
    font-family: Poppins;
    padding: 0 1rem;
    outline: none;
}

section > div:nth-of-type(1) > button {
    background: #f1ae44;
    padding: .5rem 1rem .45rem .9rem;
    font-size: 12px;
    margin-right: .5rem;
    margin-bottom: 2rem;
    clip-path: polygon(0 0, 100% 0, 88% 100%, 0% 100%);
}

section > div:nth-of-type(1) > button:last-of-type {
    clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
}

section > div:nth-of-type(1) > button:first-of-type {
    background: #E36955;
}

section > div:nth-of-type(1) > div .section-button {
    background: #f1ae44;
    height: 45px;
    width: 160px;
    margin-bottom: 2.5rem;
}

section > div:first-of-type p.content{
    font-size: 16px; 
    line-height: 2;
    margin-bottom: 12px;
    color: #818181;
}

section > div:first-of-type p.content:last-of-type {
    margin-bottom: 0;
}

section > div:first-of-type p.content.width {
    width: 52%;
}

section > div:first-of-type h4 {
    margin-bottom: 12px;
}

section > div:first-of-type > img {
    position: absolute;
    right: 0;
    bottom: 23%;
}

section > div:first-of-type p.block {
    background: #d1ecf1;
    font-size: 16px; 
    line-height: 2;
    color: #0c5460;
    padding: 2rem 2.7rem;
    border-radius: 5px;
    margin: 1rem 0;
}

section > div:last-of-type {
    width: 35.5%;
}

section > div:last-of-type aside {
    margin-left: 2rem;
}

section > div:last-of-type aside > div {
    background: #f2f0ec;
}

section > div:last-of-type aside > div:first-of-type {
    margin-bottom: 2rem;
    padding: 2rem;
}

section > div:last-of-type aside > div:first-of-type ul {
    margin-top: 1.8rem;
    margin-bottom: .5rem;
}

section > div:last-of-type aside > div:first-of-type ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.3rem;
}

section > div:last-of-type aside > div:first-of-type ul li p:first-of-type {
    font-weight: 500;
}

section > div:last-of-type aside > div:first-of-type ul li p:last-of-type {
    font-weight: 300;
}

section > div:last-of-type aside > div:last-of-type > div {
    padding: 2rem;
}

section > div:last-of-type aside > div:last-of-type > div > div > img {
    width: 100%;
    height: 100%;
}

section > div:last-of-type aside > div:last-of-type > div > h5 {
    margin-bottom: 1.5rem;
}

section > div:last-of-type aside > div:last-of-type > div .donate-1 > div,
section > div:last-of-type aside > div:last-of-type > div .donate-2 > div,
section > div:last-of-type aside > div:last-of-type > div .donate-3 > div {
    background: white;
}

section > div:last-of-type aside > div:last-of-type > div .donate-1 > div > div {
    width: 83.15%;
    height: 10px;
    margin-top: -7px;
}

section > div:last-of-type aside > div:last-of-type > div .donate-2 > div > div,
section > div:last-of-type aside > div:last-of-type > div .donate-3 > div > div {
    width: 100%;
    height: 10px;
    margin-top: -7px;
}

section > div:last-of-type aside > div:last-of-type > div .donate-1 > div > div:first-of-type {
    background: #00bdc0;
}


section > div:last-of-type aside > div:last-of-type > div .donate-2 > div > div:first-of-type {
    background: #f86048;
}

section > div:last-of-type aside > div:last-of-type > div .donate-3 > div > div:first-of-type {
    background: #ffa940;
}

section > div:last-of-type aside > div:last-of-type > div .donate-1,
section > div:last-of-type aside > div:last-of-type > div .donate-2,
section > div:last-of-type aside > div:last-of-type > div .donate-3 {
    position: relative;
    height: 300px;
}

section > div:last-of-type aside > div:last-of-type > div .donate-1 > div.donate-green:before {
    content: '83.15%';
    position: absolute;
    text-align: center;
    font-size: 14px;
    color: white;
    background: #00bdc0;
    padding: .2rem .4rem;
    left: 66%;
    bottom: 18px;
}

section > div:last-of-type aside > div:last-of-type > div .donate-2 > div.donate-red:before,
section > div:last-of-type aside > div:last-of-type > div .donate-3 > div.donate-orange:before {
    position: absolute;
    text-align: center;
    color: white;
    padding: .2rem .4rem;
    right: 0;
    bottom: 18px;
}

section > div:last-of-type aside > div:last-of-type > div .donate-2 > div.donate-red:before {
    content: 'unlimited';
    background: #f86048;
    font-size: 13px;
}

section > div:last-of-type aside > div:last-of-type > div .donate-3 > div.donate-orange:before {
    content: '113.24%';
    background: #ffa940;
    font-size: 14px;
}

section > div:last-of-type aside > div:last-of-type > div .donate-1 > div.donate-green:after,
section > div:last-of-type aside > div:last-of-type > div .donate-2 > div.donate-red:after,
section > div:last-of-type aside > div:last-of-type > div .donate-3 > div.donate-orange:after {
    position: absolute;
    content: '';
    bottom: 12px;
    border: 6px solid transparent;
}

section > div:last-of-type aside > div:last-of-type > div .donate-1 > div.donate-green:after {
    left: 79%;
    border-right-color: #00bdc0;
}

section > div:last-of-type aside > div:last-of-type > div .donate-2 > div.donate-red:after {
    right: 2px;
    border-right-color: #f86048;
}

section > div:last-of-type aside > div:last-of-type > div .donate-3 > div.donate-orange:after {
    right: 2px;
    border-right-color: #ffa940;
}

section > div:last-of-type aside > div:last-of-type > div .donate-1 .camera-icon,
section > div:last-of-type aside > div:last-of-type > div .donate-1 .video-icon,
section > div:last-of-type aside > div:last-of-type > div .donate-2 .camera-icon,
section > div:last-of-type aside > div:last-of-type > div .donate-2 .video-icon,
section > div:last-of-type aside > div:last-of-type > div .donate-3 .camera-icon,
section > div:last-of-type aside > div:last-of-type > div .donate-3 .video-icon {
    position: absolute;    
    width: 26px;
    height: 26px;
}

section > div:last-of-type aside > div:last-of-type > div .donate-1 .video-icon,
section > div:last-of-type aside > div:last-of-type > div .donate-2 .video-icon,
section > div:last-of-type aside > div:last-of-type > div .donate-3 .video-icon {
    right: 13%;
    top: 2.5%;
    transform: translate(-13%, -2.5%);
}

section > div:last-of-type aside > div:last-of-type > div .donate-1 img.camera-icon,
section > div:last-of-type aside > div:last-of-type > div .donate-2 img.camera-icon,
section > div:last-of-type aside > div:last-of-type > div .donate-3 img.camera-icon {
    right: 3%;
    top: 2%;
    transform: translate(-3%, -2%);
}

section > div:last-of-type aside > div:last-of-type > div .details {
    margin: 1.5rem 0 2.5rem 0;
}

section > div:last-of-type aside > div:last-of-type > div .details > p {
    display: flex;
    align-items: flex-end;
    font-size: 14px;
}

section > div:last-of-type aside > div:last-of-type > div .details > p > img {
    margin-right: .7rem;
}

section > div:last-of-type aside > div:last-of-type > div .details > p > span {
    font-weight: 600;
}

section > div:last-of-type aside > div:last-of-type > div .details > p > span:last-of-type {
    color: #E36955;
    margin-left: .3rem;
}

section > div:last-of-type aside > div:last-of-type > div .details > p:first-of-type {
    margin: 1rem 0 .7rem 0;
}

section > div:last-of-type aside > div:last-of-type > div .details .details-button {
    margin: 1.8rem 0 1rem 0;
    padding: .8rem 2.3rem;
    font-size: 12px;
}

section > div:last-of-type aside > div:last-of-type > div .details .details-button:last-of-type {
    margin-bottom: 0;
}

section > div:last-of-type aside > div:last-of-type > div .details .details-button.green {
    background: #00bdc0;
}

section > div:last-of-type aside > div:last-of-type > div .details .details-button.red {
    background: #f86048;
}

section > div:last-of-type aside > div:last-of-type > div .details .details-button.orange {
    background: #ffa940;
}

footer {
    background-image: url('images/bg-footer.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer .newsletter {
    text-align: center;
    color: white;
}

footer .newsletter img {
    display: block;
    margin: 0 auto;
}

footer .newsletter h2 {
    color: white;
}

